include mixing

doctype html
head
  title Poro Couch
  script(src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="/css/app.css")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body.grey-text.text-lighten-4.blue-grey.lighten-4
  #app.row.blue.darken-5(style="margin-bottom: 0;").blue: .row
    #sidebar.col.s12.m4.blue.darken-3.sidebar
      .container.padding-5vh.center-align: .row
        .row: .col.s12
          .row
            .col.s12.left-align.margin-1em
              label.blue-text.text-lighten-4 Region
              select.browser-default.blue(v-model='region' debounce='999')
                option(value='' disabled v-bind:selected="!region") Region
                option(v-for="r in regions" v-bind:value='r' v-bind:selected="region === r") {{r}}
            .input-field.col.s12.margin-1em
              input#first_name(type='text' v-model='name' debounce='999' v-bind:class="[userData === null ? 'red-text': '']")
              label.blue-text.text-lighten-4(for='first_name') Summoner Name
        .row(v-if='userData && name && region')
          .col.s12
            img.circle.responsive-img.z-depth-3(v-bind:src="profileIcon")
            .flow-text.center-align {{0}} pts
          .col.s4.offset-s4(style="margin-top: -1em;")
            img.circle.responsive-img(src="/img/tiers/{{userData.league}}.png")
          .col.s12.waves-effect.waves-light.margin-1em(v-on:click="loadRecentGames")
            p.flow-text Recent Games
          .col.s12.waves-effect.waves-light.margin-1em
            p.flow-text Challenges
        .col.s12(v-if='userData === \'\' && name && region')
          +loader

    #content.col.s12.m8
      template#startCard(v-if='screenStage === \'start\'')
        .container.padding-5vh
          .card.black-text
            .card-image
              img(src="/img/poro.png")
              span.card-title Welcome Summoner!
            .card-content.center-align
              h3.flow-text
                | We know you love League of Legends, and maybe you want to be a better player but is not always that easy, sometimes we stuck ourselves in one league, and we don't know how to upgrade our skills.
              h3.flow-text
                | We came to make that easy! Just let a Poro Coach you based on your progress and challenging you to get better.

      #loader.col.s12(v-if='screenStage === \'recentGames\' && !recentGames')
        .container.padding-5vh.center-align: .card: .card-content: +loader
      
      #loader.col.s12(v-if='screenStage === \'recentGames\' && recentGames')
        .container
          H2 Recent Games
          .flow-text Lmao Lmao
      
      #recent-games.col.s12: template(v-for='game in recentGames')
        .col.s12.m6
          .card.black-text
            .card-image
              img(src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champions[game.championId].id}}_0.jpg")
              span.card-title {{champions[game.championId].name}}
            .card-content.center-align
              div(v-if="!game.valid")
                h3.flow-text Unfortunately this game type is not supported
              div(v-else)
                template(v-for="stat in game.keyStats"): .row
                  .col.s4.
                    {{ $key === 'damageDealt' ? 'Damage' : 
                      ($key === 'damageTaken' ? 'Tank' : 
                      ($key === 'gold' ? 'Gold' : 
                      ($key === 'minionsKilled' ? 'Minions' : 
                      ($key === 'wardsPlaced' ? 'Wards' : 
                      ($key === 'kills' ? 'Kills' : 
                      ($key === 'deaths' ? 'Deaths' : 
                      ($key === 'assists' ? 'Assists' : '')))))))
                    }}
                  .col.s8: template(v-for="category in stat"): .row.left-align
                    .col.s12(style="padding: 0;")
                      div {{$key === 'all'? 'Lane Performance' : 'Champion Performance'}}
                    .col.s12.progress.tooltipped(v-bind:class="{amber: $key === 'all', 'lighten-5': $key === 'all'}" data-position='left' data-tooltip="{{$key}}" data-delay="50")
                      .valign.determinate(v-bind:style="{width: Math.abs(100*(category.actual - Math.min(category.min))/(Math.abs(category.min - category.max))) + '%'}" v-bind:class="{amber: $key === 'all'}")

  footer.blue.darken-2(style="padding-top: 1em; padding-bottom: 1em;")
    .container
      | © 2016 Poro Couch
      a.grey-text.text-lighten-4.right(href='https://github.com/elxris/RiotAPIChallenge2016') We love Github

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
  script.
    var champions = !{JSON.stringify(champions)};
    console.log(champions);
  script(src="/js/app.js")
